<% content_for :head do %>
  <script type="text/javascript">

    /* handle slider value change */
    $("#tea_rating").live('change', function() {
        var rangeVal = $("#tea_rating").val();
        $("span#rating").html(rangeVal);
    });

    /* input form slider */
    $("#tea-dropdown").live('click', function() {
        /* caching for performance */
        var new_tea = $("div#new-tea")
        var tea_dropdown = $("#tea-dropdown");
        if (new_tea.is(":hidden")) {
            tea_dropdown.css("background", "url('assets/dropdown-click.png')");
            new_tea.slideDown('slow');
            $("div#border-line").hide();
        } else {
            new_tea.slideUp("slow");
            tea_dropdown.css("background", "url('assets/dropdown.png')");
            $("div#border-line").show();
        }
    });
  </script>
<% end %>

<h3 id="add-new-tea">Add new tea</h3>
<div id="tea-dropdown"></div>
<div id="new-tea">
  <%= form_for @tea, :url => { :action => "create" } do |t| %>
    <div id="tea_one">
      <div id="tea_name_set">
        <%= t.label(:name, "Name") %>
        <br />
        <%= t.text_field(:name) %><br />
      </div>

      <div id="tea_company_set">
        <%= t.label(:company, "Company") %>
        <br />
        <%= t.text_field(:company) %><br />
      </div>

      <div id="tea_description_set">
        <%= t.label(:description, "Description") %>
        <br />
        <%= text_area_tag(:description) %><br />
      </div>

      <%= t.submit "Create" %><br /><br />
    </div>

    <div id="tea_two">
      <div id="tea_type_set">
        <%= t.label(:tea_type, "Tea type") %>
        <br />
        <%= t.select(:tea_type, "<option>White</option><option>Green</option><option>Oolong</option><option>Black</option><option>Puerh</option>".html_safe) %>
      </div>

      <div id="tea_rating_set">
        <%= t.label(:rating, "Rating: ") %><span id="rating">70</span>
        <br />
        <%= t.range_field(:rating, :step => 5, :value => 70) %><br />
      </div>

      <div id="tea_photo_set">
        <%= t.label(:photo_url, "Photo (url)") %>
        <br />
        <%= t.text_field(:photo_url) %><br />
      </div>

      <div id="tea_origin_set">
        <%= t.label(:origin, "Origin") %>
        <br />
        <%= t.text_field(:origin) %><br />
      </div>

      <div id="tea_store_set">
        <%= t.label(:store_url, "Buy online (url)") %>
        <br />
        <%= t.url_field(:store_url) %><br />
      </div>

    </div>
  <% end %>
</div>
<div id="border-line"></div>

<div id="all-teas">
  <h3>All Teas</h3>
  <% @teas.each do |t| %>
    <div class="entry">
      <span class="tea_title"><%= link_to(t.name, tea_path(t)) + ' from ' + link_to(t.company, t.store_url) %></span>
      <br />
      <%= link_to(image_tag(t.photo_url), tea_path(t)) %>
      </ul>
    </div>
  <% end %>
</div>
