<div id="all-teas">
  <h3>Search results (<%= @count %>)</h3>
  <% @results.each do |result| %>
    <div class="entry">
      <%= image_tag result.photo_url %><br />
      Name: <%= result.name %><br />
      Company: <%= result.company %><br />
      Description: <%= result.description %><br />
      Type: <%= result.tea_type %><br />
      Rating: <%= result.rating %><br />
      Origin: <%= result.origin %><br />
      # of times made: <%= result.drink_frequency %><br />
      Store URL: <%= result.store_url %><br />
      Steep Time: <%= result.steep_time %><br />
      Steep Temperature: <%= result.steep_temperature %><br />
      Steep Amount: <%= result.steep_amount %><br />
      Metadata: <%= result.metadata %><br />
    </div>
  <% end %>
</div>
