  <div class="entry">
    <%= image_tag @tea.photo_url %>
    <div class="tea_info">
      Name: <%= @tea.name %><br />
      Company: <%= @tea.company %><br />
      Description: <%= @tea.description %><br />
      Type: <%= @tea.tea_type %><br />
      Rating: <%= @tea.rating %><br />
      Origin: <%= @tea.origin %><br />
      # of times made: <%= @tea.drink_frequency %><br />
      Store URL: <%= @tea.store_url %><br />
      Steep Time: <%= @tea.steep_time %><br />
      Steep Temperature: <%= @tea.steep_temperature %><br />
      Steep Amount: <%= @tea.steep_amount %><br />
      Metadata: <%= @tea.metadata %><br />
    </div>
    <span id="delete"><%= link_to 'Delete', @tea, :confirm => "Are you sure?", method: :delete %></span>
  </div>
