<!DOCTYPE html>
<html>
<head>
  <title>Tealog</title>
  <%= stylesheet_link_tag    "tea", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
<img src="<%= asset_path "logo.png" %>" alt="" id="logo" />
<h1 id="logo">TeaLog</h1>
</header>
<div id="main">
<%= yield %>
</div>

</body>
</html>
