<!DOCTYPE html>
<html>
<head>
  <title>Tealog</title>
  <%= stylesheet_link_tag    "tea", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <header>
  <a href="/"><img src="<%= asset_path "logo.png" %>" alt="Logo" id="logo" /></a>
    <h1 id="logo"><a href="/">TeaLog</a></h1>
  </header>

  <div id="main">
    <%= yield %>
  </div>

  <footer>
    <p>TeaLog &copy; 2013 Rodney Keeling</p>
  </footer>
</body>
</html>
