<!DOCTYPE html>
<html>
<head>
  <title>Tealog | <%= @title %> </title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <%= stylesheet_link_tag    "reset", :media => "all" %>
  <%= stylesheet_link_tag    "forms", :media => "all" %>
  <%= stylesheet_link_tag    "responsive", :media => "all" %>
  <%= stylesheet_link_tag    "typography", :media => "all" %>
  <%= stylesheet_link_tag    "tea", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <header>
    <a href="/"><img src="<%= asset_path "logo.png" %>" alt="Logo" id="logo" /></a>
    <h1 id="logo"><a href="/">TeaLog</a></h1>
    <%= form_tag("/search", method: :get) do %>
      <span id="search_highlight"></span>
      <%= text_field_tag(:term, nil, placeholder: "Search") %>
    <% end %>
  </header>

  <div id="main">
    <%= yield %>
  </div>

  <footer>
  <p>TeaLog &copy; 2013 <a href="http://www.rodneykeeling.com">Rodney Keeling</a></p>
  </footer>
</body>
</html>
